# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SERVER=dev
APP_SECRET=146421b6380d2da5e9653f63a9b2f30e
###< symfony/framework-bundle ###

###> DB ###
POSTGRES_DB=db
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpass
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
###< DB ###

###> ASSETS ###
PUBLIC_UPLOADS_PATH=/public/uploads
PUBLIC_UPLOADS_DIR=/public/uploads
###< ASSETS ###

###> CMS PROJECT ###
CMS_PROJECT_DOMAIN=http://localhost/cms
CMS_PROJECT_ROUTE_PREFIX=/cms
CMS_ASSETS_PATH=/cms/public
###< CMS PROJECT ###

CDN_DOMAIN=

###> API PROJECT ###
API_PROJECT_DOMAIN=http://localhost/
###< API PROJECT ###

###> WEB PROJECT ###
WEB_PROJECT_DOMAIN=http://localhost/
###< WEB PROJECT ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=bb16ecc419b18eecc1be85e4d812b9d8d2f249eb87a3f0ec17fc9a29d8b75e1e
JWT_AUTH_PASS=be85e4d812b9d8d2f249eb87a3f0e
###< lexik/jwt-authentication-bundle ###

###> aws/aws-sdk-php-symfony ###
AWS_KEY=not-a-real-key
AWS_SECRET=@@not-a-real-secret
###< aws/aws-sdk-php-symfony ###

###> symfony-bundles/redis-bundle ###
REDIS_URL=tcp://127.0.0.1:6379?database=0
REDIS_IS_ENABLE=false
REDIS_QUEUE_IS_ENABLE=false
###< symfony-bundles/redis-bundle ###

###> symfony/mailer ###
MAILER_DSN=
EMAIL=
EMAIL_NAME=
EMAIL_SUPPORT=
###< symfony/mailer ###

###> symfony/slack-notifier ###
# SLACK_DSN=slack://TOKEN@default?channel=CHANNEL
###< symfony/slack-notifier ###

