
{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% block online_status_field %}
    <ul>
        <li><b>Is online:</b> {{ online_status.isOnline ? 'yes' : 'no' }}</li>
        <li><b>Status:</b> {{ online_status.getStatus }}</li>
        <li><b>Last seen:</b> {{ online_status.getLastSeenFormat }}</li>
    </ul>
{% endblock %}