{% block field_video %}
    {% if field.value is not empty %}
        <source src="{{ field.value }}" type="audio/mpeg">
        <audio src="{{ field.value }}" controls >
            <code> Your browser doesn't support audio tags</code>
        </audio>
    {% else %}
        <span class="badge badge-secondary">No audio available</span>
    {% endif %}
{% endblock %}