<div class="form-widget">
    <textarea id="block_description" name="block_description" rows="5" data-ea-textarea-field="data-ea-textarea-field"
              class="form-control"
              style="overflow: hidden; resize: none; box-sizing: border-box; height: 119px;">{{ field.value }}</textarea>
</div>
