<head>
    <title>{% block title %}The Purple Box{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IEedge" />
    <style type="text/css">
        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
        img {
            -ms-interpolation-mode: bicubic;
        }
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }
        table {
            border-collapse: collapse !important;
        }
        body {
            height: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
        .padding1 {
            padding: 0px 30px !important;
        }
        .linkcolor1 {
            color: #4285F4!important;
        }
        .linkcolor2 {
            color: #000000!important;
        }
        a.dynamicbutton {
            background-color: #0a66c2!important;
        }
        @media screen and (max-width:480px) {
            {#
            h1.dynamic {
                font-size: 48px !important;
                line-height: 56px !important;
            }
            h2.dynamic {
                font-size: 22px !important;
                line-height: 34px !important;
            }
            h3.dynamic {
                font-size: 18px !important;
                line-height: 24px !important;
            }
            p.dynamic {
                font-size: 16px !important;
                line-height: 24px !important;
            }
            .padding1 {
                padding: 0px 10px !important;
            }
            #}
        }
        div[style*="margin: 16px 0;"] {
            margin: 0 !important;
        }
        @media only screen and (max-width: 599px) {
        {#
            h1.dynamic {
                font-size: 32px !important;
                line-height: 40px !important;
            }
            h2.dynamic {
                font-size: 22px !important;
                line-height: 34px !important;
            }
            h3.dynamic {
                font-size: 18px !important;
                line-height: 24px !important;
            }
            p.dynamic {
                font-size: 16px !important;
                line-height: 24px !important;
            }
            .padding1 {
                padding: 0px 10px !important;
            }
             #}
        }
        /* Dark Mode Support Styles */
        :root {
            color-scheme: light dark;
            supported-color-schemes: light dark;
        }
        /* Shows Dark Mode-Only Content, Like Images */
        [data-ogsc] .dark-img {
            display: block !important;
            width: auto !important;
            overflow: visible !important;
            float: none !important;
            max-height: inherit !important;
            max-width: inherit !important;
            line-height: inherit !important;
            margin-top: 0px !important;
            visibility: inherit !important;
        }
        /* Hides Light Mode-Only Content, Like Images */
        [data-ogsc] .light-img {
            display: none;
            display: none !important;
        }
        /* Custom Dark Mode Background Color */
        [data-ogsc] .darkmode0 {
            background-color: #000000 !important;
        }
        /* Custom Dark Mode Background Color */
        [data-ogsc] .darkmode1 {
            background-color: #1e1e1e !important;
        }
        /* Custom Dark Mode Background Color */
        [data-ogsc] .darkmode2 {
            background-color: #303133 !important;
        }
        /* Custom Dark Mode Font Colors */
        [data-ogsc] h1,
        [data-ogsc] h2,
        [data-ogsc] h3,
        [data-ogsc] p,
        [data-ogsc] span,
        [data-ogsc] a,
        [data-ogsc] b {
            color: #ffffff !important;
        }
        /* Custom Dark Mode Text Link Color */
        [data-ogsc] .dark-link {
            color: #a4a4a4 !important;
        }
        [data-ogsc] .titlecolor {
            color: #0a66c2!important;
        }
        [data-ogsc] a.dynamicbutton {
            background-color: #FFFFFF!important;
        }
        [data-ogsc] .linkcolor2 {
            color: #FFFFFF!important;
        }
        @media (prefers-color-scheme: dark) {
            /* Shows Dark Mode-Only Content, Like Images */
            .dark-img {
                display: block !important;
                /*width: auto !important;*/
                overflow: visible !important;
                float: none !important;
                max-height: inherit !important;
                max-width: inherit !important;
                line-height: inherit !important;
                margin-top: 0px !important;
                visibility: inherit !important;
            }
            /* Hides Light Mode-Only Content, Like Images */
            .light-img {
                display: none;
                display: none !important;
            }
            /* Custom Dark Mode Background Color */
            .darkmode0 {
                background-color: #000000 !important;
            }
            /* Custom Dark Mode Background Color */
            .darkmode1 {
                background-color: #1e1e1e !important;
            }
            /* Custom Dark Mode Background Color */
            .darkmode2 {
                background-color: #303133 !important;
            }
            /* Custom Dark Mode Font Colors */
            h1,
            h2,
            h3,
            p,
            span,
            a,
            b {
                color: #ffffff !important;
            }
            /* Custom Dark Mode Text Link Color */
        {#
            .dark-link {
                color: #a4a4a4 !important;
            }
             #}
        {#
            .linkcolor2 {
                color: #FFFFFF!important;
            }
             #}
            a.dynamicbutton {
                background-color: #FFFFFF!important;
            }
            .titlecolor {
                color: #0a66c2!important;
            }
        }
    </style>
</head>