{% extends "base.html.twig" %}

{% block title %}Payou payment{% endblock %}

{% block stylesheets %}
    <link rel="shortcut icon" href="https://kzt.payou.pro/assets/img/favicon.svg">
    <link rel="stylesheet" href="https://kzt.payou.pro/assets/css/style.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
    <div class="page">
        <div class="sidebar sidebar_spb">
            <img src="https://kzt.payou.pro/assets/img/sbp-img.png" srcset="https://kzt.payou.pro/assets/img/sbp-img_2x.png 2x" alt="">
        </div>
        <div class="content">
            <div class="payment">
                <div class="payment__head">
                    <div class="payment__title">Оплата через СБП</div>
                    <div class="payment__logo"><img src="https://kzt.payou.pro/assets/img/sbp.png" srcset="https://kzt.payou.pro/assets/img/sbp_2x.png 2x" alt=""></div>
                </div>
                <div class="payment__desc">
                    <b>Выполнить перевод необходимо в течении 15:00 минут.

                    </b>
                    Зайдите в ваше банковское приложение и выберите перевод через "СБП", далее введите номер телефона и точную сумму, указанную ниже
                </div>
                <div class="payment__form form">
                    <label class="form__label">Реквизиты для перевода:</label>
                    <div class="form__field form__field_wallet">
                        <input class="form__input" id="wallet" type="text" name="wallet" value=" 79188875673" readonly>
                        <div class="form__copy" id="copy">
                            <img src="https://kzt.payou.pro/assets/img/copy.svg" alt="">
                        </div>
                        <div class="form__copyed" id="copyed">Скопировано</div>

                        <input class="form__input form__input_bank" type="text" name="bank" value="Банк: Alfa" readonly="">

                        <input class="form__input form__input_bank" type="text" name="bank" value="Беседин Никита Валентинович" readonly>
                    </div>
                    <label class="form__label">Точная сумма к оплате:</label>
                    <div class="form__field form__field_sum">
                        <input class="form__input" type="text" name="sum" value="{{ sum }}" readonly>
                        <div class="form__rub">RUB</div>
                        <div class="form__copy" onclick="sum()"><img src="https://kzt.payou.pro/assets/img/copy.svg" alt=""></div>


                    </div>
                </div>


                <script>
                    function sum(){
                        var input = document.querySelector('input[name="sum"]');
                        navigator.clipboard.writeText(input.value)
                            .then(() => {
                                //input.value = '';
                            })
                            .catch(err => {
                                console.log('Скопировать в буфер не удалось', err);
                            });
                    }
                </script>


                <div class="payment__desc info">
                    <b><font size="" color="#ff0000">Переведите строго одним платежом {{ sum }} ₽</font></b>
                    <font size="" color="#ff0000">В противном случае деньги не будут зачислены!</font>
                </div>

                <div class="info">
                    <div id="myDiv">
                        {% set payment_success_url = ea_url().setRoute('payou_payment_success', {
                            sum: sum,
                            id: id,
                            sistems: sistems,
                            order_id: order_id,
                            Coment: Coment,
                            user_code: user_code,
                            user_email: user_email,
                            hash: hash,
                        }) %}
                        {% set payment_fail_url = ea_url().setRoute('payou_payment_fail', {
                            sum: sum,
                            id: id,
                            sistems: sistems,
                            order_id: order_id,
                            Coment: Coment,
                            user_code: user_code,
                            user_email: user_email,
                            hash: hash,
                        }) %}
                        <a href="{{ payment_success_url }}"><button style="background-color: darkseagreen">Успешно оплатил</button></a>&nbsp;&nbsp;&nbsp;<a href="{{ payment_fail_url }}"><button style="background-color: orangered">Проблема при оплате</button></a>
                    </div>
                </div><br><br>

                <div class="payment__wait">
                    <div class="payment__loader loader">
                        <div class="loader__circle loader__circle_big"></div>
                        <div class="loader__circle loader__circle_small"></div>
                    </div>
                    Ожидаем зачисления средств... После оплаты не закрывайте страницу, дождитесь зачисления платежа
                </div>

            </div>
        </div>
    </div>

    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8c2754ff2a89d625","version":"2024.8.0","r":1,"token":"c13053c2f06444eab44b2528e0b96e7c","serverTiming":{"name":{"cfExtPri":true,"cfL4":true}}}' crossorigin="anonymous"></script>
{% endblock %}